.opciones-toggle{
    width: 100px;
    height: 200px;
    background: #fff;
    margin-left: 190px;
    margin-top: 80px;
    display: none;
}
 .t-opc:link .t-opc:active  {
    display: block;
    text-decoration: none;
    color: black;
    height: 23px;
    width: 50px;
}
.t-opc :hover{
    background: #cecece;
}

