.opciones-toggle{
    width: 100px;
    height: 200px;
    background: #fff;
    position: absolute;
    margin-top: 6.2rem;
    margin-left: 13rem;
}
.t-opc:link,  .t-opc:active{
    display: block;
    text-decoration: none;
    color: black;
    height: 23px;
    width: 50px;
}

