.vista{
    -webkit-box-shadow: 1px 0px 15px 5px #00000075; 
    box-shadow: 1px 0px 15px 5px #00000075;
    background-color: white;
    width: 600px;
    height: 500px;
    position: absolute;
    margin-left: 400px;
    margin-top: 45px;
}

.con{
    -webkit-box-shadow: 1px 0px 15px 5px #00000075; 
    box-shadow: 1px 0px 15px 5px #00000075;
    margin-top: 100px;
    margin-left: -1000px;
    background: #ffffff;
    position:relative;
    width: 600px;
    height: 500px;
    padding: 15px;
    border-radius: 7px;
}

.miform{
    -webkit-box-shadow: 1px 0px 15px 5px #00000075; 
    box-shadow: 1px 0px 15px 5px #00000075;
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    margin-left: 800px;
    margin-top: 5px;
    padding: 15px;

}