
.user-var{
  display: flex;
  background: #0ED1AA;
  width: 1366px;
  height: 50px;
}
.user{
  
  margin-top: 10px;
  margin-left: 1100px ;
  width: 200px;
  height: 30px;
  border-left: 1px solid #ffffff;
}
p{
  color: #ffffff;
}
.logo-user{
  width: 20px;
  height: 20px;
}
