
.user-var{
  display: flex;
  background: #0ED1AA;
  width: 1366px;
  height: 50px;
  
}
.user{
  display: flex;
  margin-top: 10px;
  margin-left: 1000px ;
  width: 270px;
  height: 30px;
  border-left: 1px solid #ffffff;
}
p{ 
  margin-left: 30px;
  color: #ffffff;
}
.user-logo{
  border-radius: 50%;
  width: 40px;
  height: 35px;
  
}
.img{
  margin-left: 20px;
  
}
.logodb{
  display: flex;
  width: 30px;
  height: 40px;
  margin-left: 30px;
  margin-top: 5px;
  opacity: 50%;
}
